streamlit>=1.40.1
altair>=5.4.1
numpy>=1.24.0
pandas>=2.0.0
matplotlib>=3.7.0
scikit-learn>=1.2.0
scipy>=1.10.1
torch>=2.0.0
torchaudio>=2.0.0
torchvision>=0.15.0
torchmetrics>=1.4.2
pytorch-msssim>=1.0.0
opencv-contrib-python>=4.5.5
pydicom>=2.3.1
pyarrow>=14.0.0
imageio>=2.35.1
PyWavelets>=1.4.1
rich>=13.9.4
markdown-it-py>=3.0.0
pygments>=2.19.1
mdurl>=0.1.2
requests>=2.27.1
tqdm>=4.64.1
PyYAML>=6.0.2
wandb>=0.13.3
einops>=0.4.1
h5py>=3.7.0
tifffile>=2023.7.10
natsort>=8.2.0
scikit-image>=0.21.0
